.error {
    width: calc(100% - 19px);;
    padding: 10px;
    background: #DD0000;
    color: white;
}

.exercise {
    margin-bottom: 50px;
}

.ul {
    display: inline;
    text-decoration: underline;
    text-decoration-color: #DD0000;
    -webkit-text-decoration-color: #DD0000;
}

.variant > input {
    float: none;
    width: calc(100% - 25px);
    height: auto;
    font-weight: 200;
    text-align: center;
    font-size: 81pt;
    font-family: 'Roboto Slab', serif;
    border: solid black 3px;
    -moz-appearance: textfield;
}

.variant > input:disabled {
    background: inherit;
    color: black;
    border: solid gray 3px;
}

.state_machine {
    background: #777777;
    box-shadow: 0 15px 0 rgba(0, 0, 0, 0.25);
    margin-left: 28px;
    width: 220px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.state_machine_state {
    background: black;
    font-family: 'Press Start 2P', monospace;
    font-size: 45pt;
    display: flex;
    padding-left: 50px;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: lawngreen;
    text-shadow: 0 5.5pt 0 green;
    width: 100px;
    height: 100px;
}

.gear_box {
    margin-left: -28px;
    z-index: -15;
}

input {
    float: none;
}

.gear {
    width: 64px;
    height: 64px;
    animation: turn 5s linear infinite;
}

@keyframes turn {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.undertext {
    margin-left: -17px;
    padding-right: 7px;
}