.error {
    width: calc(100% - 19px);;
    padding: 10px;
    background: #DD0000;
    color: white;
}

.exercise {
    margin-bottom: 50px;
}

.ul {
    display: inline;
    text-decoration: underline;
    text-decoration-color: #DD0000;
    -webkit-text-decoration-color: #DD0000;
}

.variant > input {
    float: none;
    width: calc(100% - 25px);
    height: auto;
    font-weight: 200;
    text-align: center;
    font-size: 81pt;
    font-family: 'Roboto Slab', serif;
    border: solid black 3px;
    -moz-appearance: textfield;
}

.variant > input:disabled {
    background: inherit;
    color: black;
    border: solid gray 3px;
}

.state_machine {
    background: #777777;
    box-shadow: 0 15px 0 rgba(0, 0, 0, 0.25);
    width: 220px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.state_machine_state {
    background: black;
    font-family: 'Press Start 2P', monospace;
    font-size: 45pt;
    display: flex;
    padding-left: 50px;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: #DD0000;
    text-shadow: 0 5.5pt 0 #990000;
    width: 100px;
    height: 100px;
}

.gear_box {
    margin-left: -28px;
    z-index: -15;
}

input {
    float: none;
}

.gear {
    width: 64px;
    height: 64px;
    animation: turn 5s linear infinite;
}

@keyframes turn {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.undertext {
    margin-left: -17px;
    padding-right: 7px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid black;
}
.lined
{
    font-weight: bold;
    background-image: linear-gradient(
            to top right,
            #E7E7E7 calc(50% - 1px),
            black calc(50% - 0.9px),
            black calc(50% + 0.9px),
            #D9D9D9 calc(50% + 1px)
    );
}
.q {
    float: left;
    margin-right: 15px;
}
.sigma {
    float: right;
    margin-left: 15px;
}
td, th {
    padding: 5px; /* Поля вокруг текста */
    border: 2px solid black;
    text-align: center;
    background: white;
}

.main_vector {
    background: #E7E7E7;
    font-weight: bold;
}

.header_vector {
    background: #D9D9D9;
    font-weight: bold;
}

.selected_vector {
    background: #DD0000;
    color: white;
    text-shadow: 0px 3px 0px black;
    font-weight: bold;
}

.highlighted_vector {
     background: #FFF3F3;
 }

.choosen_vector {
    font-weight: bold;
    background: #FFE0E0;
    text-decoration: underline;
    text-decoration-color: #DD0000;
    -webkit-text-decoration-color: #DD0000;
}