@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:700|Roboto+Slab&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext');

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
}

.button_container {
    width: calc(100% - 20px);
    max-width: 800px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

body {
    background: #E7E7E7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Roboto', sans-serif;
}

.log {
    background: #ffffff;
    width: calc(100% - 20px);
    max-width: 800px;
    padding: 10px 10px 10px 10px;
    border: solid 3px black;
    font-size: 12pt;
    font-family: 'Roboto Mono', monospace;
}

.result {
    background: #ffffff;
    max-width: 800px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 2px;
    font-size: 12pt;
    border: solid 3px black;
    width: calc(100% - 20px);
}

.button {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

    background: #DD0000;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 15pt;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 1);
    border: solid 3px black;
    color: white;
    cursor: pointer;
    min-width: 120px;
    max-width: calc(100% - 25px);
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 10px 0 rgba(0, 0, 0, 1);
    line-height: 45pt;
    text-align: center;
    margin: 0 2px 12px 0;
}

.button:hover {
    transform: translate(0px, 5px);
    box-shadow: 0 5px 0 rgba(0, 0, 0, 1);
}

.expression {
    background: rgba(200, 0, 0, .1);
    font-family: 'Roboto Mono', monospace;;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

.footer {
    color: rgba(0, 0, 0, .6);
    font-size: 10pt;
}