.exercise {
    margin-bottom: 50px;
}

.error {
    width: calc(100% - 19px);;
    padding: 10px;
    background: #DD0000;
    color: white;
}

span.frac {
    margin-top: -15.5px;
    margin-bottom: 15.5px;
    display: inline-block;
    text-align: center;
}

span.frac > sup {
    transform: translate(0px, 15.5px);
    display: block;
    border-bottom: 2.5px solid;
    font: inherit;
}

span.frac > span {
    display: none;
}

span.frac > sub {
    transform: translate(0px, 15.5px);
    display: block;
    font: inherit;
}

span.big {
    font-weight: 100;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid black;
}

td, th {
    padding: 5px; /* Поля вокруг текста */
    border: 2px solid black;
    text-align: center;
    background: white;
}

.task {
    width: calc(100% - 19px);;
    padding: 10px;
    border: 3px solid black;
    background: white;
}

.answer {
    margin-bottom: 100px;
}